/config.json
/sample_data/CMSC226-32842 Syllabus Spring25.pdf
/sample_data/mnist_test.csv
/sample_data/california_housing_train.csv
/sample_data/california_housing_test.csv
/sample_data/anscombe.json
__pycache__
